:root{
    --salmon:#EF9D71;
    --white:#fff;
    --black:#000;
    --dcyan:#1f2f32;
    --cyan:#AEDEE0;
    --dsalmon:#51312d;
}

body{
    transition: background-color ease-out .5s;
}

*::selection{
    background-color:var(--salmon)
}

.vido{
    clip-path: circle(var(--clip) at 52.7% 66.2%);
}
body[theme="black"]{
    background-color: var(--black);
}
body[theme="black"] .section{
    color: var(--white)
}

body[theme="cyan"]{
    background-color:var(--cyan)
}
body[theme="cyan"] .section{
    color: var(--dcyan)
}

body[theme="salmon"]{
    background-color: var(--salmon);
}
body[theme="salmon"] .section{
    color: var(--dsalmon);
}

body[theme="white"]{
    background-color: var(--white)
}
body[theme="white"] .section{
    color: var(--black)
}
